.list-bar {
  height: 58px;
  width: 100%;
  position: absolute;
  top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid rgb(69, 159, 194);
  #title {
    position: absolute;
    top: 20px;
    right: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgb(69, 159, 194);
    cursor: pointer;
  }
  .icon {
    img {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 20px;
      left: 15px;
      cursor: pointer;
    }
  }
}
.list-text {
  position: absolute;
  width: 240px;
  top: 60px;
  height: 320px;
  overflow: auto;
  box-sizing: content-box;
  &::-webkit-scrollbar {
    width: 8px;
    padding-right: 4px;
    background-color: rgb(206, 238, 251);
    /*其他样式，比如圆角等*/
  }
  /*滑块样式*/
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: rgb(206, 238, 251);
  }
  // 当滚动条失去焦点时
  &::-webkit-scrollbar-thumb:window-inactive {
    background-color: rgb(242, 242, 252);
  }
  li {
    line-height: 15px;
    padding: 5px 0;
    margin-top: 10px;
    right: 10px;
    text-align: end;
    font-size: 14px;
    vertical-align: middle;
    &:hover {
      background: rgba(217, 217, 217, 0.75);
      border-radius: 15px;
      color: #ffffff;
    }
    #ok {
      width: 15px;
      height: 15px;
      position: absolute;
      left: 0;
      vertical-align: middle;
      cursor: pointer;
    }
    #delete {
      width: 15px;
      height: 15px;
      position: absolute;
      left: 25px;
      cursor: pointer;
    }
    #complete {
      #ok();
    }
  }
}
.list-foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 2px solid rgb(69, 159, 194);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  #input {
    position: absolute;
    outline: none;
    border: none;
    left: 15px;
    bottom: 15px;
    height: 20px;
    border-radius: 15px;
  }
  #submit {
    #input();
    left: 220px;
    bottom: 16px;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: rgba(217, 217, 217, 0.75);
    }
  }
}
.itemShow {
  text-decoration: line-through;
}